<h4>{{form.value.id ? 'Edit' : 'Add'}} {{type}}</h4>

<!-- Balance Form -->
<form action="" [formGroup]="form">
  <div formGroupName="balance" class="row g-3 align-item-center">
    <div class="col">
      <label for="">Category</label>
      <select formControlName="category" class="form-select mt-1">
        <option value="">Select Category</option>
        <option *ngFor="let item of category" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
    <div class="col">
      <label for="">Date</label>
      <input formControlName="useDate" type="date" class="form-control mt-1">
    </div>
    <div class="col">
      <label for="">Employee</label>
      <input formControlName="employee" type="text" class="form-control mt-1" placeholder="Enter Employe Name">
    </div>
    <div class="col">
      <label for="">Total</label>
      <input formControlName="total" type="text" readonly class="form-control mt-1" placeholder="0">
    </div>
  </div>


  <!-- Balance Detail Form -->

  <div class="card mt-4">
    <div class="card-header">Add Detail</div>
    <div class="card-body" formArrayName="details">
      <div *ngFor="let item of detailFormArray.controls;index as i;first as f;last as l" [class.mb-3]="!l"
        [formGroupName]="i" class="row g-3 align-item-center">
        <div class="col">
          <label *ngIf="f">Item</label>
          <input formControlName="item" type="text" class="form-control mt-1">
        </div>
        <div class="col">
          <label *ngIf="f">Remark</label>
          <input formControlName="remark" type="text" class="form-control mt-1">
        </div>
        <div class="col-1">
          <label *ngIf="f">Unit</label>
          <input formControlName="unit" type="number" class="form-control mt-1">
        </div>
        <div class="col-3">
          <label *ngIf="f">Amount</label>
          <div class="input-group">
            <input formControlName="amount" type="number" class="form-control mt-1">
            <div class="input-group-prepend mt-1">
              <button (click)="removeDetail(i)" class="btn btn-outline-danger">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer d-flex ">
      <button (click)="addDetail()" class="btn btn-primary ms-auto">
        <i class="fa fa-plus"></i>Add Detail
      </button>
      <button [disabled]="form.invalid" (click)="save()" class="btn btn-danger ms-3">
        <i class="fa fa-save"></i>Save
      </button>
    </div>
  </div>

</form>
